*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header start */
#header{
    background-image: url(https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/home-1-slider-image-2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.container{
    padding: 0 2rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.navbar .logo{
    width: 15%;
}
.navbar .logo img{
    width: 60%;
}
.navbar .list{
    width: 60%;
    margin-top: 15px;
}
.navbar .icons{
    width: 15%;
}
.navbar .icons i{
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-left: 2rem;
}
.navbar .list ul{
    display: flex;
    align-items: center;
    justify-content: right;
}
.list li a{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Marcellus', serif;
    line-height: 23px;
    color: white;
    position: relative;
}
.navbar li a::after{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 0%;
    transition: .5s;
    background-color: #ffffff;
}
.navbar li a:hover::after {
    width: 100%;
}
.list li{
    margin-left: 3rem;
}
.coffe{
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}
.coffe-text{
    width: 75%;
    margin-left: auto;
}
.coffe-text h1{
    font-size: 8rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-family: 'Marcellus', serif;
}
.coffe-text img{
    margin: 12px 0;
}
.coffe-text p{
    font-size: 20px;
    color: rgb(255, 255, 255);
   font-family: Arial, Helvetica, sans-serif;
   width: 70%;
   margin: auto;
   line-height: 30px;
   white-space: normal;
}
.coffe-text a{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    margin-top: 2rem;
    display: inline-block;
    text-transform: uppercase;
    padding: 23px 55px;
    background-color: rgba(0, 0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    transition: .4s;
}
.coffe-text a:hover{
    background-color: rgb(190, 156, 121);
    border-color: rgb(190, 156, 121);
    
}
@media (max-width:586px) {
    .navbar .list{
   display: none;
    }
    .navbar .icons{
        width: 50%;
        display: flex;
   
    }
    .navbar .logo{
        width: 30%;
    }
    .navbar .logo img{
        width: 100%;
    }
    .coffe-text{
        width: 100%;
    }
    .coffe-text h1{
        font-size: 3rem;
    }
    .coffe-text p{
        width: 80%;
        font-size: 15px;
    }
    .coffe-text a{
        padding: 18px 48px;
        font-size: 14px;
    }
}
/* header end */
/* offer start */
#offer{
    padding: 5rem 0;
    text-align: center;

}

.offer-text h1{
    color: #262626;
    font-family: Marcellus,sans-serif;
    font-weight: 400;
    font-size: 3rem;
}
.offer-text p{
    margin: 20px 0;
    color: #262626bd;
    font-size: 22px;
}
.coffe-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 0;
}
.coffe-product .box{
    width: 22%;
}
.coffe-product .box h1{
    font-size: 25px;
    color: #262626;
    margin: 8px 0;
    font-family: 'Marcellus', serif;
 font-weight: 400;
}
.coffe-product .box p{
    font-size: 20px;
    color: #262626bd;
    width: 70%;
    margin: auto;
}
@media (max-width:586px) {
    .container {
        padding: 0 2rem;
    }
    .coffe-product{
        flex-flow: column;
        margin: 3rem 0;
    }
    .coffe-product .box{
        width: 100%;
        margin-bottom: 2rem;
    }
    .coffe-product .box p{
        width: 100%;
    }
}
/* offer end */
/* herald start */
#herald{
    background-image: url(https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/new-new-h1-bacground-img-3.jpg);
    background-position: center;
    background-size: cover;
    height: 120vh;
}
.herald-text{
    padding: 5rem 0;
    text-align: center;
}
.herald-text h1{
    color: #262626;
    font-family: Marcellus,sans-serif;
    font-weight: 400;
    font-size: 3rem;
}
.herald-text p{
    margin: 20px 0;
    color: #262626bd;
    font-size: 22px;
    
}
.herald-product{
    display: flex;
    justify-content: space-between;
padding: 0 5rem;
}
.herald-product .box{
    width: 32%;
}
.herald-product .top img{
    width: 100%;
}
.herald-product .box .bottom h1{
    font-size: 25px;
    color: #262626;
    margin: 8px 0;
    font-family: 'Marcellus', serif;
 font-weight: 400;
}
.herald-product .box .bottom p{
    font-size: 20px;
    color: #262626bd;
    margin: auto;
}
.herald-product .box .bottom .spandiv span{
    color: #262626;
    font-size: 22px;
    position: relative;
    margin-left: 25px;
    cursor: pointer;
    transition: .4s;
    
}
.herald-product .box .bottom .spandiv{
    transition: .4s;
    display: inline-block;
    margin-top: 1rem;
}
.herald-product .box .bottom .spandiv:hover span{
    padding-left: 5px;
    color: #be9c79;
    
}
.herald-product .box .bottom span::before{
    content: '';
    position: absolute;
    top: 10px;
    transition: .4s;
    left: -20px;
    width: 12px;
    height: 1px;
    background-color: rgb(0, 0, 0);
}
.herald-product .box .bottom span:hover::before{
    background-color: #be9c79;
    padding: 0 0 0 6px;
}
@media (max-width:586px){
    #herald{
        height: auto;
    }
    .herald-text{
        padding: 20px 0;
    }
    .herald-product .box .bottom h1{
        text-align: center;
        font-size: 22px;
    }
    .herald-product .box .bottom .spandiv span{
        font-size: 18px;
    }
    .herald-product{
        flex-flow: column;
        padding: 0 2rem;
    } 
    .herald-product .box{
        width: 100%;
        margin-bottom: 2rem;
    }
    .herald-product .box p{
        width: 100%;
    }
}

/* herald end */
/* coffe background start */

#coffe-background{
    background-image: url(https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/home-1-slider-image-1.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    background-attachment: fixed;
    margin-top: 5rem;
}
#coffe-background .coffe-img{
    width: 15%;
    margin: auto;
    padding-top: 2rem;
}
#coffe-background .coffe-img img{
    width: 100%;
}
@media (max-width:586px){
    #coffe-background .coffe-img{
        width: 50%;
    }
}

/* coffe background end */
/* coffe count start */
#coffe-count{
padding: 6rem 0;

}
.count-main{
    display: flex;
    justify-content: space-between;

}
.count-main .box{
    width: 23%;
    text-align: center;
}
.count-main .box .top span{
    font-size: 55px;
    color: #be9c79;
}
.count-main .box .bottom h1{
font-size: 25px;
color: #262626;
margin: 10px 0;
font-family: Marcellus,sans-serif;
font-weight: 400;
}
.count-main .box .bottom p{
    font-size: 18px;
    color: #262626;
    margin: 10px 0;
    font-family: Marcellus,sans-serif;
    font-weight: 100;
}
@media (max-width:586px){
    #coffe-count{
        padding: 2rem;
    }
    .count-main {
        flex-flow: column;
    }
    .count-main .box{
        width: 100%;
    }
}
/* coffe count end */
/* coffe shop start */
#coffe-shop{
    background-image: url(https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/h1-bacground-img-1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
.shopmain{
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
}
.shop-text{
    padding: 5rem 0;
    text-align: center;
}
.shop-text h1{
    color: #262626;
    font-family: Marcellus,sans-serif;
    font-weight: 400;
    font-size: 3rem;
}
.shop-text p{
    margin: 20px 0;
    color: #262626bd;
    font-size: 22px;
    
}
.shopmain .box{
    width: 22%;
    cursor: pointer;
}
.shopmain .box .top img{
    width: 100%;
    margin: auto;
    transition: .4s;
}
.shopmain .box .top{
    position: relative;
}
.shopmain .box .top:hover .top img{
    opacity: 0.6;
}
.shopmain .box .top:hover  a{
    display: block;
    z-index: 1;
    opacity: 1;
}
.shopmain .box .top a{
    color: #fff;
    transition: .4s;
    background-color: #be9c79;
    border: 1px solid transparent;
    padding: 1.5rem 3rem;
    position: absolute;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    top: 50%;
    opacity: 0;
    z-index: 0;
    width: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.shopmain .box .bottom h1:hover{
color: #be9c79;
}
.shopmain .box .top a:hover{
    background-color: #262626;
    color: white;
}
.shopmain .box .bottom{
   text-align: center;
}
.shopmain .box .bottom h1{
    color: #262626;
    font-family: Marcellus,sans-serif;
    font-weight: 400;
    transition: .4s;
    cursor: pointer;
 }
 .shopmain .box .bottom span{
    color: #777;
    font-size: 25px;
    display: inline-block;
    margin-top: 5px;
 }
 @media (max-width:586px){
    #coffe-shop{
        height: auto;
    }
    .shopmain{
        flex-flow: column;
        padding: 0 2rem;
    }
    .shop-text{
        padding: 2rem 0;
    }
    .shopmain .box{
        width: 100%;
        margin-top: 2rem;
    }
    .shopmain .box .top a{
        padding: 1rem 3rem;
        width: 70%;
    }
 }
/* coffe shop end*/
/* Gallery start */
#gallery{
   padding-top: 4rem
}
.gallerymain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.gallery-text{
    padding: 2rem 0;
    text-align: center;
}
.gallery-text h1{
    color: #262626;
    font-family: Marcellus,sans-serif;
    font-weight: 400;
    font-size: 3rem;
}
.gallery-text p{
    margin: 20px 0;
    color: #262626bd;
    font-size: 22px;
    
}
.gallerymain .box{
    width: 24%;
    position: relative;
    cursor: pointer;
    margin-top: 1rem;
}.gallerymain .box img{
    width: 100%;
    vertical-align: bottom;
}
.gallerymain .box .hovereffect{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.377);
}
.gallerymain .box:hover .hovereffect{
    opacity: 1;
}
.gallerymain .box .hovereffect h1{
    font-family: Marcellus,sans-serif;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
@media (max-width:586px){
    .gallerymain{
        flex-flow: column;
    }
    .gallerymain .box{
        width: 100%;
    }
}
/* Gallery end */

